<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--引入angularjs资源-->
    <script type="text/javascript" src="../plugins/angularjs/angular.js"></script>
	<!--引入angularjs分页插件-->
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>


    <script type="text/javascript">
        var app = angular.module('pinyougou',['pagination']);
        app.controller('brandController',function ($scope,$http) {
            $scope.findAll=function () {
                $http.get('../brand/findAll.do').success(
                    function (response) {
                        $scope.list = response;
                    }
                )
            };
            //定义分页控件对象
            $scope.paginationConf = {
                currentPage:1,  				//当前页
                totalItems:10,					//总记录数
                itemsPerPage:10,				//每页记录数
                perPageOptions:[10,20,30,40,50], //分页选项，下拉选择一页多少条记录
                onChange:function(){			//页面变更后触发的方法
                    $scope.reloadList();		//启动就会调用分页组件
                }
            };
			/*$scope.reloadList=function () {
				$scope.findPage($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage);
            }
			//发起分页查询请求
			$scope.findPage=function (pageNum,pageSize) {
				$http.get("../brand/findPage.do?pageNum="+pageNum+"&pageSize="+pageSize).success(function (response) {
					$scope.list=response.rows;//当前页结果集
					$scope.paginationConf.totalItems=response.total;//查询总记录数
                })
            }*/
            $scope.searchEntity={};  //解决初始请求参数为空的问题
            $scope.reloadList = function(){
                $http.post('../brand/search.do?pageNum='+$scope.paginationConf.currentPage+"&pageSize="+$scope.paginationConf.itemsPerPage,$scope.searchEntity).success(
                    function(response){
                        $scope.list = response.rows;
                        $scope.paginationConf.totalItems = response.total;
                    }
                )
            }

            //根据id查询回显数据
            $scope.findOne=function (id) {
                $http.get("../brand/findOne.do?id="+id).success(function (response) {
                    $scope.entity=response;
                });
            }
            //品牌新增
			$scope.entity = {}
			$scope.save = function () {
			    var methodName = "";
                //基于entity的id值判断是新增还是修改
				if($scope.entity.id!=null){
                    //修改操作
					methodName="update.do";
				}else{
				    //新增操作
					methodName="add.do";
				}
				$http.post('../brand/'+methodName,$scope.entity).success(
				    function (response) {
						if(response.success){
							$scope.reloadList();
						}else{
						    alert(response.message);
						}
                    }
				)
            }

            //定义一个批量删除的数组
			$scope.selectIds=[];
			//更新复选框选中状态的方法
			$scope.updateSelection=function ($event,id) {
                if($event.target.checked){
                    $scope.selectIds.push(id);
				}else{
                    var index = $scope.selectIds.indexOf(id);
                    $scope.selectIds.splice(index,1);
				}
            }
            //批量删除数据
			$scope.dele=function () {
				if(confirm('您确定要删除吗?')){
				    $http.get("../brand/delete.do?ids="+$scope.selectIds).success(function (response) {
						if(response.success){
                            $scope.reloadList();
                            $scope.selectIds=[];//清空勾选的id数组
						}else{
						    alert(response.message);
						}
                    })
				}
            }
            //是否选中为了翻页后回来还能勾选上
            $scope.isChecked = function(id){
                if($scope.selectIds.indexOf(id)!= -1){
                    return true;
                }
                return false;
            }
        })
    </script>
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="brandController" ng-init="findAll()">
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">品牌管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button"  ng-click="dele()" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
									<div>
										品牌名称:<input ng-model="searchEntity.name">
										品牌首字母:<input ng-model="searchEntity.firstChar">
										<button class="btn btn-default" ng-click="reloadList()">查询</button>
									</div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							                                         
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox"  class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">品牌ID</th>
									      <th class="sorting">品牌名称</th>									      
									      <th class="sorting">品牌首字母</th>									     				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="pojo in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event,pojo.id)"></td>
				                          <td>{{pojo.id}}</td>
									      <td>{{pojo.name}}</td>
		                                  <td>{{pojo.firstChar}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" ng-click="findOne(pojo.id)" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" >修改</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
						<!--分页组件-->
						<tm-pagination conf="paginationConf" />
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">品牌编辑</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>品牌名称</td>
		      		<td><input ng-model="entity.name" class="form-control" placeholder="品牌名称" >  </td>
		      	</tr>		      	
		      	<tr>
		      		<td>首字母</td>
		      		<td><input ng-model="entity.firstChar" class="form-control" placeholder="首字母">  </td>
		      	</tr>		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button  class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>