<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- 静态资源不拦截配置，以下页面不被拦截 -->
	<!-- /** 当前目录及其子目录资源都不拦截 -->
	<http pattern="/css/**" security="none"></http>
	<http pattern="/img/**" security="none"></http>
	<http pattern="/js/**" security="none"></http>
	<http pattern="/plugins/**" security="none"></http>
	<http pattern="/login.html" security="none"></http>

	<!-- 页面拦截规则 use-expressions是否使用SPEL表达式-->
	<http use-expressions="false">
		<!--配置拦截规则  access配置的角色写法有要求：必须以ROLE_开头 （ROLE_大写）-->
		<intercept-url pattern="/**" access="ROLE_ADMIN" />
		<form-login
		     login-page="/login.html"
		     default-target-url="/admin/index.html"
			 authentication-failure-url="/login.html"
			 always-use-default-target="true"
		/>
		<!-- 登录成功后，默认一直访问首页always-use-default-target="true" -->

		<!--跨域请求伪造安全解决方案-->
		<csrf disabled="true" />
		
		<!-- iframe展示策略 -->
		<headers>
			<!--默认是DENY策略，拒绝iframe框架标签资源加载  需要改成：SAMEORIGIN，同源策略可以加载访问-->
			<frame-options policy="SAMEORIGIN" />
		</headers>
		<!--退出登录配置-->
		<logout/>
	</http>
	
	<!-- 认证管理器 -->
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<!--authorities 当前用户具有的角色和权限列表数据-->
				<user name="admin" password="123456" authorities="ROLE_ADMIN" />
				<user name="sunwukong" password="dasheng" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>