<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbBrandMapper" >
  
    <!--查询所有品牌列表-->
    <select id="findAll" resultType="tbBrand">
        select id,name,first_char firstChar from tb_brand
    </select>

    <!--品牌新增-->
    <insert id="add" parameterType="tbBrand">
        insert into tb_brand values (null,#{name},#{firstChar})
    </insert>

    <!--根据id查询-->
    <select id="selectByPrimaryKey" resultType="tbBrand">
        select id,name,first_char firstChar from tb_brand where id = #{id}
    </select>

    <!--品牌修改-->
    <update id="updateByPrimaryKey" parameterType="tbBrand">
        update tb_brand set name=#{name},first_char=#{firstChar} where id=#{id}
    </update>

    <!--批量删除-->
    <delete id="deleteByPrimaryKey" parameterType="long">
        delete from tb_brand where id = #{id}
    </delete>

    <!--条件查询-->
    <select id="findByBrand" parameterType="tbbrand" resultType="tbbrand">
        select id,name,first_char firstChar from tb_brand
        <where>
            <if test="name!=null and name != ''">
                and name like '%${name}%'
            </if>
            <if test="firstChar != null and firstChar != ''">
                and first_char=#{firstChar}
            </if>
        </where>
    </select>
</mapper>